<link rel="stylesheet" href="vvvv">
{{>header}}
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat laborum omnis fuga, veritatis perferendis animi dicta at eligendi vitae impedit delectus dolores error, consectetur ducimus nostrum itaque possimus consequatur! Ut.</p>


   <form action="/submit" method="post">
        <input type="text" name="name" placeholder="Name">
        <input style="" class="input" type="password" name="password" placeholder="Password">
        <button type="submit">Submit</button>
    </form>

    {{>footer}}

    <style>
        .input{

        }
    </style>